In [2]:
import pandas as pd

In [4]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"], index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [7]:
players_dict = {1:"Navas", 7:"Mbappe", 10:"Neymar", 30:"Messi"}

In [8]:
pd.Series(players_dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [10]:
psg_players[7]

'Mbappe'

In [15]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])
print(psg_players, end="\n\n")
print("slice: \n", psg_players[0:3])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

slice:
 0     Navas
1    Mbappe
2    Neymar
dtype: object

In [17]:
players_dict = {"player": ["Navas", "Mbappe", "Neymar", "Messi"],
 "height": [183.0, 185.0, 180.0, 170.0],
 "goals": [2, 2, 2, 2]
}
players_dict

{'player': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'height': [183.0, 185.0, 180.0, 170.0],
 'goals': [2, 2, 2, 2]}

In [23]:
df_players = pd.DataFrame(players_dict, index=[1,7,10,30])
df_players

    player  height  goals
1    Navas   183.0      2
7   Mbappe   185.0      2
10  Neymar   180.0      2
30   Messi   170.0      2

In [21]:
df_players.columns

Index(['player', 'height', 'goals'], dtype='object')

In [22]:
df_players.index

Index([1, 7, 10, 30], dtype='int64')