# join - Index match

In [2]:
import pandas as pd
import numpy as np

In [12]:
left_df = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2'],
},
                   index=["k0", "k1", "k2"])

right_df = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2'],
},
                   index=["k0", "k1", "k3"]) # K2 is changed to k3

In [13]:
left_df.join(right_df, how="inner")

     A   B   C   D
k0  A0  B0  C0  D0
k1  A1  B1  C1  D1